.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  margin-top: 25px;
  
}
.card{
  width: 18rem;
  margin-top: 10px;
}
.containerr{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.text-center p-4{
  background-color: rgba(0, 0, 0, 0.05);
}
.sp1{
  color: white;
}
.div2{
  color: white;
}
.p1{
  color: white;
}
#img1{
  height: 400px;
}
.contact-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.con{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}


#mii{
  width: 600px;
  height: 300px;
}
.card-img-top{
  height: 200px;
}
@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }